header {
  padding: 20px;
  text-align: center;
  background-color: #f8f9fa;
}

main {
  padding: 20px;
}

ul {
  margin-left: 20px;
  list-style-type: disc;
}

.carousel {
  position: relative;
}

.carousel-inner {
  display: flex;
  transition: transform 0.3s ease;
}

.carousel-item {
  flex: 0 0 auto;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.about {
  @apply mx-auto my-4 p-4 text-justify;
}

.accordion-custom {
  @apply mx-auto my-4 p-4;
}

.title-accordion {
  @apply border border-secondary-color rounded-lg mt-3;
}

.title-accordion:hover {
  @apply bg-secondary-color;
}

article :is(h2, p) {
  @apply mb-4;
}

article:where(:has(blockquote)) blockquote {
  @apply pl-4 border-l-4 italic text-gray-600;
}

article blockquote footer {
  @apply text-right;
}

@media (max-width: 1050px) {
  .about {
    @apply px-8 mx-2 my-2;
  }

  .accordion-custom {
    @apply px-2 mx-5 my-1;
  }
}

@media (max-width: 450px) {
  .about {
    @apply px-8 mx-2 my-2;
  }

  .accordion-custom {
    @apply px-2 mx-5 my-1;
  }
}

