.uoc-footer {
  display: grid;
  grid-template-columns: 0fr 0fr 5fr 1fr;
  gap: 0;
  padding: 3%;
  margin-top: 1.5rem;
  font-size: 1.2rem;
  text-align: center;
  background-color: white;
  border-top: 2px solid var(--third-color);
}

.anell {
  position: relative;
  width: 100px;
  height: 100px;
}

.cercle-interior {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 40%;
  height: 30%;
  border: 2px solid var(--analogue-color-2);
  border-radius: 50%;
}

.cercle-interior i {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 16px;
  color: var(--analogue-color-2);
  transform: translate(-50%, -50%);
}

.logo-text {
  margin: 20% 0%;
  font-weight: 900;
  color: var(--analogue-color-2);
}

.pages{
  padding: 0;
  margin: 0;
}

.social {
  margin: 10% 0%;
  color: var(--analogue-color-2);
}

/* Fem alguns elements responsius després de crear el grid */
@media (max-width: 450px) {
  .uoc-footer {
    grid-template-columns: 0fr 0fr 1fr 1fr;
    gap: 0;
    padding: 3%;
  }
}
