<article class="carousel lg:mx-80 md:mx-auto my-4 p-4">
    <h2 class="text-3xl font-bold mb-4 text-secondary-color text-center"><i class="fa-regular fa-images"></i> Imatges del Concurs</h2>
    <div id="carouselExample" class="relative w-full overflow-hidden">
        <div class="carousel-inner flex">
            <div class="carousel-item w-full">
                <img src="./assets/images/ad5.png" class="block w-full" alt="Imatge de la home page">
            </div>
            <div class="carousel-item w-full">
                <img src="./assets/images/nj.png" class="block w-full" alt="Imatge de la home page">
            </div>
            <div class="carousel-item w-full">
                <img src="./assets/images/ap.png" class="block w-full" alt="Imatge de la home page">
            </div>
        </div>
        <button id="prevButton" class="absolute top-1/2 bottom-0 left-0 z-50 flex items-center justify-center ml-2 p-0 w-10 h-10 text-center rounded-full bg-gray-300 hover:bg-gray-300 focus:bg-gray-300 transition duration-300 transform -translate-y-1/2" type="button">
            <span class="carousel-control-prev-icon inline-block bg-no-repeat" aria-hidden="true"></span>
            <span class="visually-hidden"><i class="fa-solid fa-arrow-left"></i></span>
        </button>

        <button id="nextButton" class="absolute top-1/2 bottom-0 right-0 z-50 flex items-center justify-center mr-2 p-0 w-10 h-10 text-center rounded-full bg-gray-300 hover:bg-gray-300 focus:bg-gray-300 transition duration-300 transform -translate-y-1/2" type="button">
            <span class="carousel-control-next-icon inline-block bg-no-repeat" aria-hidden="true"></span>
            <span class="visually-hidden"><i class="fa-solid fa-arrow-right"></i></span>
        </button>
    </div>
</article>
