<footer class="uoc-footer">
    <div class="anell">
        <div class="cercle-interior"><i class="fa-solid fa-c"></i></div>
    </div>
    <div class="logo-text">LOGO</div>
    <div class="pages">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="chefs.html">Chefs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about.html">About Competition</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
            </li>
        </ul>
    </div>
    <div class="social">
        <i class="fa-brands fa-google"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
    </div>
</footer>
