<footer class="bg-primary py-8 border-t-2 border-gray-300">
    <div class="container mx-auto grid grid-cols-1 md:grid-cols-5 gap-1 text-black">
        <!-- Columna 1 (titol i xarxes) -->
        <div class="md:col-span-2 flex flex-col items-start">
            <h2 class="text-2xl font-bold mb-4">Cooking Contest 2024 Edition</h2>
            <div class="flex space-x-4">
                <a href="#" class="hover:text-secondary"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="hover:text-secondary"><i class="fab fa-twitter"></i></a>
                <a href="#" class="hover:text-secondary"><i class="fab fa-instagram"></i></a>
                <a href="#" class="hover:text-secondary"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <!-- Columna 2 (Links) -->
        <div class="flex flex-col lg:items-end md: items-center text-center">
            <ul class="list-none space-y-2">
                <li><a href="#" class="hover:underline font-bold">Recipes</a></li>
                <li><a href="#" class="hover:underline">The contest</a></li>
                <li><a href="#" class="hover:underline">Recipes</a></li>
                <li><a href="#" class="hover:underline">Contestants</a></li>
            </ul>
        </div>
        <!-- Columna 3 (Recipes) -->
        <div class="flex flex-col lg:items-end md: items-center text-center">
            <ul class="list-none space-y-2">
                <li><a href="#" class="hover:underline font-bold">Contestants</a></li>
                <li><a href="#" class="hover:underline">Cajun seafood pasta</a></li>
                <li><a href="#" class="hover:underline">Cedar planked salmon</a></li>
                <li><a href="#" class="hover:underline">Poulet au vinaigre</a></li>
            </ul>
        </div>
        <!-- Columna 4 (Contestants) -->
        <div class="flex flex-col lg:items-end md:items-center text-center">
            <ul class="list-none space-y-2">
                <li><a href="#" class="hover:underline font-bold">Contest editions</a></li>
                <li><a href="#" class="hover:underline">John Cooper</a></li>
                <li><a href="#" class="hover:underline">Marta Alonso</a></li>
                <li><a href="#" class="hover:underline">Mary Ann Stones</a></li>
            </ul>
        </div>
    </div>
    <div class="container mx-auto text-center mt-8">
        <p>&copy; 2024 Cooking Contest. All rights reserved.</p>
    </div>
</footer>
