<nav class="navbar-custom py-5 px-5">
    <div class="container mx-auto flex justify-between items-center">
        <a href="index.html" class="flex items-center text-decoration-none">
            <div class="h-12 w-12 border-2 border-black rounded-full flex items-center justify-center">
                <i class="fas fa-c text-black"></i>
            </div>
            <div class="ml-2 text-black font-bold">Cooking contest 2024 edition</div>
        </a>
        <div x-data="{ open: false }" class="flex items-center">
            <button @click="open = !open" class="block lg:hidden focus:outline-none">
                <i class="fa-solid fa-bars text-black text-3xl"></i>
            </button>
            <ul :class="{ 'hidden': !open }" class="lg:flex lg:space-x-4 text-white list-none">
                <li><a href="index.html" class="link-hover-black text-decoration-none active">Home</a></li>
                <li><a href="chefs.html" class="link-hover-black text-decoration-none">Chefs</a></li>
                <li><a href="about.html" class="link-hover-black text-decoration-none">About Competition</a></li>
                <li><a href="contact.html" class="link-hover-black text-decoration-none">Contact</a></li>
                <li><a href="contestants.html" class="link-hover-black text-decoration-none">Contestants</a></li>
            </ul>
        </div>

    </div>
</nav>
